.taskboard{
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px rgb(228, 226, 226);
}
.taskboard > *{
  margin: 0 3rem ;

}
.logo{
  display: flex;
  gap: 1.3rem;
  align-items: center;
}
.text{
  text-align: center;
}
.name{
  font-size: 1.1rem;
  font-weight: 500;
}
.code{
  margin-top: -1rem;
}
.n-text{
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;
}
.btns{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.n-1{
  display: flex;
  align-items: center;
  gap: 2rem;

}
.para{
  margin-top: -1rem;
}
.btns > *{
  box-shadow: 5px 5px 5px rgb(238, 238, 238);
  border-radius: 5px;
}
.btn-2{
  display: flex;
  align-items: center;
  background-color: rgb(118, 255, 150);
  padding: 0.5rem;
  gap: 0.8rem;
}

.plus{
  font-size: 1.1rem;
}
.star{
  padding: 0.6rem;
  color: whitesmoke;
  background-color: black;
}
.plane{
  border: 1px solid aqua;
  padding: 0.8rem;
  border-radius: 5px;
}
.box{
  padding: 0 1.2rem;

}
.box-color{

  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 3px 3px 3px rgb(226, 226, 226);
  padding: 0 0.5rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 3px solid rgb(218, 34, 255);
}
.name-text{
  font-size: 1.1rem;
  font-weight: 500;
}
.label{
  font-size: 0.9rem;
  border: 1px solid red;
  padding: 0.2rem 0.4rem;
  border-radius: 20px;
  background-color: red;
  margin-left: 2rem;
  color: white;
}
.heading{
  border-radius: 5px;
  padding: 0 1.3rem;
  font-size: 1.2rem;
  border: 1px solid black;
  margin: 0 1.2rem;
}
